# Node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# TypeScript
dist/
*.tsbuildinfo

# dotenv
.env

# Drizzle ORM
drizzle-kit/

# VSCode
.vscode/

# MacOS
.DS_Store

# Logs
logs/
*.log
